<h1><%= @inventory.name %></h1>

<%= link_to 'Create Food', new_inventory_food_path(@inventory), class: 'btn btn-success' %>

<% if @inventory_foods.present? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_foods.each do |inventory_food| %>
        <tr>
          <td><%= inventory_food.food.name %></td>
          <td>
            <div>
              <%= inventory_food.quantity %>
              <%= inventory_food.food.measurement_unit %>
            </div>
          </td>
          <td>
            <%= link_to 'Delete', inventory_inventory_food_path(@inventory, inventory_food), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No food items in this inventory.</p>
<% end %>
