<h1><%= @inventory.name %></h1>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @food_items.each do |food_item| %>
      <tr>
        <td><%= food_item.food.name %></td>
        <td><%= food_item.quantity %> <%= food_item.food.measurement_unit %></td>
        <td>
          <%= link_to 'Remove', [@inventory, food_item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Food', new_inventory_food_path(@inventory), class: 'btn btn-success' %>