<h1 class="col-xs-1" align="center"><%= @inventory.name %></h1>
<div class="col-xs-1 m-5" align="right">
<%= link_to 'Create Food', new_inventory_food_path(@inventory), class: 'btn btn-success' %>
</div>
<% if @inventory_foods.present? %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_foods.each do |inventory_food| %>
        <tr>
          <td><%= inventory_food.food.name %></td>
          <td>
            <div>
              <%= inventory_food.quantity %>
              <%= inventory_food.food.measurement_unit %>
            </div>
          </td>
          <td>
            <%= form_with model: inventory_food, url: inventory_inventory_food_path(@inventory, inventory_food), method: :delete, local: false do |f| %>
              <%= f.submit "Delete Food", class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No food items in this inventory.</p>
<% end %>
