<%= form_with(model: @recipe, local: true, class: 'my-4') do |form| %>
  <% if @recipe.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"> <%= pluralize(@recipe.errors.count, 'error') %> prohibited this recipe from being saved:</h4>

      <ul class="mb-0">
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :preparation_time, class: 'form-label' %>
    <%= form.number_field :preparation_time, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :cooking_time, class: 'form-label' %>
    <%= form.number_field :cooking_time, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.check_box :public, class: 'form-check-input' %>
    <%= form.label :public, class: 'form-check-label' %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Save Recipe', class: 'btn btn-primary' %>
  </div>
<% end %>
