
<!-- app/views/foods/_form.html.erb -->

<%= form_with(model: food, url: inventory_foods_path(@inventory), local: true) do |form| %>
  <div class="field">
    <%= form.label :name, 'Food Name' %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :measurement_unit, 'Measurement Unit' %>
    <%= form.text_field :measurement_unit, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :price, 'Price' %>
    <%= form.number_field :price, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :quantity, 'Quantity' %>
    <%= form.number_field :quantity, class: 'form-control', required: true %>
  </div>

  <div class="actions mt-3">
    <%= form.submit 'Create Food', class: 'btn btn-primary' %>
  </div>
<% end %>

// new

  <h1>Add Food </h1>
  <%= render 'form_recipe', food: @food %>
  <br>
