<h1 class="col-xs-1" align="center">Shopping List</h1>

<% if @recipe && @inventory %>
  <h2>Recipe: <%= @recipe.name %></h2>
  <h2>Inventory: <%= @inventory.name %></h2>

  <% if @missing_food_items.present? %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @missing_food_items.each do |item| %>
          <tr>
          <td><%= Food.find(item.food_id).name %></td>
          <td><%= item.quantity %></td>
          <td><%= Food.find(item.food_id).price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p class="col-xs-1" align="center">Amount of food to buy: <%= @missing_food_items.map { |item| item.quantity }.sum %></p>
    <p class="col-xs-1" align="center">Total value of food needed: $<%= @missing_food_items.map { |item| item.quantity * item.food.price }.sum %></p>
  <% else %>
    <p>No missing items. Your inventory is well-stocked!</p>
  <% end %>
<% else %>
  <p>Error: Recipe or inventory not found.</p>
<% end %>
