<!-- app/views/shopping_lists/index.html.erb -->
<h1 class="col-xs-1" align="center">Shopping List</h1>

<% if @recipe && @inventory %>
  <h2>Recipe: <%= @recipe.name %></h2>
  <h2>Inventory: <%= @inventory.name %></h2>

  <% if @missing_food_items.present? %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @missing_food_items.each do |item| %>
          <tr>
            <td><%= item.food.name %></td>
            <td><%= item.quantity %></td>
            <td><%= item.quantity * item.food.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p class="col-xs-1" align="center">Total Amount of Food to Buy: <%= @total_food_items %></p>
    <p class="col-xs-1" align="center">Total Value of Food Needed: $<%= @total_price %></p>
  <% else %>
    <p>No missing items. Your inventory is well-stocked!</p>
  <% end %>
<% else %>
  <p>Error: Recipe or inventory not found.</p>
<% end %>
