<div class="container mt-4">
  <%= form_with  local: true do |form| %>
    <div class="form-group">
      <%= form.label :food_id, class: "d-block label" %>
      <%= form.collection_select :food_id, Food.all, :id, :name, { prompt: 'Select Food' }, class: 'form-control select-field' %>
    </div>
 
    <div class="field">
      <%= form.label :quantity, 'Quantity' %>
      <%= form.number_field :quantity, class: 'form-control', required: true %>
    </div>

    <div class="actions mt-3">
      <%= form.submit 'Create Food', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
