<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "app_1", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %> <!-- Check if the user is signed in -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logoo.png' %></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="<%= recipes_path %>"> Recipe List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= public_recipes_path %>"> Public Recipe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= inventories_path %>"> Inventory list</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= new_food_path %>"> New food</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>

    <p class="notice"><%= notice %> <%= alert %></p>
    <%= yield %>
  </body>
</html>
