<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Recipe List", recipes_path %></li>
        <li><%= link_to 'Public Recipes', public_recipes_path %></li>
      </ul>
    </nav>
    <p class="notice"><%= notice %> <%= alert %></p>
    <%= yield %>
  </body>
</html>
